body {
    font-family: Arial, sans-serif;
    margin: 0;
  }
  
main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }

form {
    position: relative; 
    border: 5px solid black; 
    padding: 22px; 
    box-shadow: 10px 10px;
}

blockquote {
    margin: 0;
    padding: 20px;
    border-left: 5px solid #333;
  }

h1{
    text-align: center; font-weight:bolder; font-size: 40px; text-decoration:underline;
}
button{
    position: absolute;
    padding: 10px 45px 10px 45px;
    bottom: 5px;
    left: 10%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.form-check{
    padding: 5px;
    margin: 10px;
    border: 1px solid black;
    border-radius: 4px;
    box-shadow: 5px 5px 5px #888888;
  }
  
  .form-check:hover{
    color: white;
    background-color: rgb(141, 145, 142);
  }